.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.total, .budget, .currentState {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.accounts, .categories, .payees {
    height: 300px;
    overflow: scroll;
    border: 1px solid black;
    width: 30%;
}

.entries, .transactions {
    height: 500px;
    overflow: scroll;
}

form, .account-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
.accountslist, .categoriesList, .payeesList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

table {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 5px;
    margin-right: 10px;
    /* justify-items: stretch; */
    flex-shrink: 0;
    /* border: 1px solid red; */
    width: 100%;
}

tr, td {
    flex-shrink: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.currentState {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: space-between;
}